@{
    ViewData["Title"] = "Rapha Data Systems";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>About Rapha Data Systems Ltd.</h2>
            <p>
                Thanks to technology, data has become the new currency.
            </p>
            <p>
                At Rapha Data Systems Ltd. we are fully passionate about data. Our priority objective is to help
                organisations make the best profitable use of their data - this means translating your data into
                revenue-producing actions.
            </p>
            <p>
                How? We achieve this in two ways:
                <ul>
                    <li>
                        First, by enriching and improving the quality of your data
                    </li>
                    <li>
                        Second, by applying analytics to uncover hidden patterns in your customers
                        transactions in order to discover new opportunities to grow revenue and profitability
                    </li>
                </ul>
            </p>
        </div>
        <div class="col-md-6">
            <h3><b>Our Vision</b></h3>
            <p>
                To become the premier Data Governance and Customer Analytics provider in Nigeria
            </p>
            <br />
            <h3><b>Our Mission</b></h3>
            <p>
                Helping organizations transform their data into a strategic asset for gaining competitive advantage
            </p>
        </div>
    </div>
</div>
<!--
<div class="container">
    <h3><b>Our Vision</b></h3>
    <ul>
        <li>To become the de-facto data governance and analytics service provider in Nigeria.</li>
    </ul>
    <h3><b>Our Mission</b></h3>
    <ul>
        <li>Helping organizations transform their data into a strategic asset for gaining competitive advantage.</li>
    </ul>
    <h3><b>What We Value</b></h3>
    <ul>
        <li>
            <p>
                Your Business – We value what you do for your clients; and that is why we promise to deliver on our
                commitment to you. We will explore all options in re-using your existing investments
            </p>
        </li>
        <li>
            <p>
                Our Commitment to you – Our commitment to you is underpinned by our size and ability to be nimble. We promise to go the extra mile
                with you at no additional cost...and we will make the necessary investments in order to deliver on our commitment.
            </p>
        </li>
        <li>
            <p>
                Your Success – We are passionate about your successes and we believe our expertise can be leveraged to your
                advantage. We view Rapha Data Systems as an integral part of your business and that your success is ultimately our own success
            </p>
        </li>
    </ul>
</div>
-->