@{
    ViewData["Title"] = "Contact Us";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h3>Rapha Data Systems Ltd.</h3>

    <address style="font-size:15px">
        Friends Colony Estate<br />
        Lagos, Nigeria.<br />
        <abbr title="Phone">P:</abbr>
        +234 802-317-1803
    </address>

    <address style="font-size:15px">
        <strong>Email:</strong> <a href="mailto:dandy.ogiugo@raphadatasystems.com">dandy.ogiugo@raphadatasystems.com</a>
    </address>
</div>
